In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
from pathlib import Path
import geopandas as gpd
from scipy import spatial

In [2]:
# Import places data from SafeGraph
filepath_safegraph_places = ".././02 Data/SafeGraph Data/Places/"
safegraph_places_df = pd.read_csv(filepath_safegraph_places + 'your_data_may_26_2022_0452pm.csv')

In [3]:
# Import patterns data from SafeGraph
filepath_safegraph_patterns = ".././02 Data/SafeGraph Data/Patterns/"
safegraph_patterns_df = pd.read_csv(filepath_safegraph_patterns + 'your_data_may_26_2022_0138pm.csv')

In [4]:
# Keep the interesting columns of SafeGraph places and patterns dataframes
places_df=safegraph_places_df[['placekey','location_name','latitude','longitude','street_address','city','region',
                               'postal_code','iso_country_code','top_category']]
patterns_df = safegraph_patterns_df[['placekey']]

In [5]:
# Merge patterns with places by placekey and keep: placekey, lat, lon, top category
merged_df=patterns_df.merge(places_df[['placekey','latitude','longitude', 'top_category']], how='left', left_on='placekey', right_on='placekey')
merged_df.head()

,placekey,latitude,longitude,top_category
0,223-222@62j-sj2-dvz,42.362149,-71.087252,Traveler Accommodation
1,22b-222@62j-sjv-nyv,42.378209,-71.130778,Religious Organizations
2,22g-222@62j-sk2-vmk,42.388898,-71.118102,"Sporting Goods, Hobby, and Musical Instrument ..."
3,zzy-222@62j-sjr-zvf,42.386489,-71.140751,Other Amusement and Recreation Industries
4,zzz-222@62j-sj2-sbk,42.364692,-71.098640,"Museums, Historical Sites, and Similar Institu..."

In [6]:
#Keep points of interest related to food
topcategory_list =['Drinking Places (Alcoholic Beverages)', 'Restaurants and Other Eating Places', 'Specialty Food Services']
filtered_df = merged_df[merged_df['top_category'].isin(topcategory_list)]
filtered_df=filtered_df.reset_index().drop('index', axis =1)
filtered_df.head()

,placekey,latitude,longitude,top_category
0,237-222@62j-sk2-vs5,42.388759,-71.119907,Restaurants and Other Eating Places
1,23g-222@62j-sjv-9zz,42.371790,-71.120643,Restaurants and Other Eating Places
2,22d-222@62j-sjr-zcq,42.387839,-71.142286,Restaurants and Other Eating Places
3,22j-222@62j-sj2-rkz,42.365675,-71.103734,Restaurants and Other Eating Places
4,239-222@62j-sj2-7dv,42.367958,-71.090294,Restaurants and Other Eating Places

In [7]:
#Keep points of interest related to food
topcategory_list =['Drinking Places (Alcoholic Beverages)','Restaurants and Other Eating Places','Specialty Food Sevices']
restaurants_df = places_df[places_df['top_category'].isin(topcategory_list)]
restaurants_df=restaurants_df.reset_index().drop('index', axis =1)
restaurants_df.head()

,placekey,location_name,latitude,longitude,street_address,city,region,postal_code,iso_country_code,top_category
0,zzw-222@62j-sj2-s3q,Whole Heart Provisions,42.362221,-71.098786,298 Massachusetts Ave,Cambridge,MA,2139,US,Restaurants and Other Eating Places
1,zzw-224@62j-sjv-975,Kashmir,42.374318,-71.122075,52A Brattle St,Cambridge,MA,2138,US,Restaurants and Other Eating Places
2,224-222@62j-sjv-9zz,Takemura Japanese Restaurant,42.372089,-71.121409,18 Eliot St,Cambridge,MA,2138,US,Restaurants and Other Eating Places
3,233-223@62j-sj3-9mk,Halal Buns,42.374045,-71.100616,12 Springfield St,Cambridge,MA,2139,US,Restaurants and Other Eating Places
4,zzw-224@62j-sgg-kvf,Taqueria,42.360979,-71.113912,340 River St,Cambridge,MA,2139,US,Restaurants and Other Eating Places

In [8]:
restaurants_df

,placekey,location_name,latitude,longitude,street_address,city,region,postal_code,iso_country_code,top_category
0,zzw-222@62j-sj2-s3q,Whole Heart Provisions,42.362221,-71.098786,298 Massachusetts Ave,Cambridge,MA,2139,US,Restaurants and Other Eating Places
1,zzw-224@62j-sjv-975,Kashmir,42.374318,-71.122075,52A Brattle St,Cambridge,MA,2138,US,Restaurants and Other Eating Places
2,224-222@62j-sjv-9zz,Takemura Japanese Restaurant,42.372089,-71.121409,18 Eliot St,Cambridge,MA,2138,US,Restaurants and Other Eating Places
3,233-223@62j-sj3-9mk,Halal Buns,42.374045,-71.100616,12 Springfield St,Cambridge,MA,2139,US,Restaurants and Other Eating Places
4,zzw-224@62j-sgg-kvf,Taqueria,42.360979,-71.113912,340 River St,Cambridge,MA,2139,US,Restaurants and Other Eating Places
...,...,...,...,...,...,...,...,...,...,...
669,24b-222@62j-sjs-v75,Fiorella's Express,42.397370,-71.129794,2401 Massachusetts Ave,Cambridge,MA,2140,US,Restaurants and Other Eating Places
670,zzw-222@62j-shx-kcq,Sate Grill on Wheels,42.369817,-71.077794,25 1st St,Cambridge,MA,2141,US,Restaurants and Other Eating Places
671,zzy-222@62j-shx-gzf,Weltkuche,42.370801,-71.075453,3 Glassworks Ave,Cambridge,MA,2141,US,Restaurants and Other Eating Places
672,222-222@62j-sjv-brk,Clover HSC,42.376369,-71.116619,1 Oxford St,Cambridge,MA,2138,US,Restaurants and Other Eating Places
673,22v-226@62j-sj3-9cq,Ole,42.374052,-71.100069,11 Springfield St,Cambridge,MA,2139,US,Restaurants and Other Eating Places

In [9]:
# Save the results of restaurants in Cambridge
restaurants_path=Path('./Input Database/restaurants_cambridge.csv')
restaurants_df.to_csv(restaurants_path,index=False)

In [10]:
# Save the results of restaurants in Cambridge
restaurants_path=Path('./Input Database/restaurants_cambridge_filter.csv')
filtered_df.to_csv(restaurants_path,index=False)